doctype html
html
  head
    script(language="javascript" type="text/javascript" src="https://code.jquery.com/jquery-1.10.1.min.js")
    script(language="javascript" type="text/javascript" src="https://rawgithub.com/Wolfy87/EventEmitter/master/EventEmitter.min.js")
    script(language="javascript" type="text/javascript" src="https://rawgithub.com/palavatv/palava-client/master/palava.min.js")
    != js('test')
    != css('style')
  body
    h1 Echo Bot
    ul#messages
    ul#video(style="list-style: none")
